FOOTBALL_DATA_API_KEY=tu_api_key
FOOTBALL_DATA_SEASON=2026
FOOTBALL_DATA_CACHE_SECONDS=3600
BLOB_READ_WRITE_TOKEN=tu_blob_read_write_token
BLOB_PREDICTIONS_PATHNAME=predictions.json
BLOB_MATCHES_CACHE_PATHNAME=football-data/wc-group-stage.json
BLOB_MATCH_RESULTS_PATHNAME=football-data/wc-results.json
